<template>
<div>
  <div class="accountbg" :style="{'background': 'url(' + require('@/assets/images/bg.jpg') + ')', 'background-size': 'cover', 'background-position': 'center'}"></div>
    <div class="wrapper-page account-page-full">
      <div class="card shadow-none">
        <div class="card-block">
          <div class="account-box">
            <div class="card-box shadow-none p-4">
              <div class="p-2">
                <div class="text-center mt-4">
                  <router-link tag="a" to="/">
                    <img src="@/assets/images/logo-dark.png" height="22" alt="logo" />
                  </router-link>
                </div>
                <h4 class="font-size-18 mt-5 text-center">Welcome Back !</h4>
                <p class="text-muted text-center">Sign in to continue to Veltrix.</p>
              <div class="p-3">
                <div  v-for="(error,index) in authError" :key="index">
                <b-alert
                  v-model="isAuthError"
                  variant="danger"
                  class="mt-3"
                  
                  dismissible
                >{{error.message}}</b-alert>
                </div>
                <b-form @submit.prevent="tryToLogIn" class="form-horizontal mt-4">
                  <b-form-group id="input-group-1" label="Email" label-for="input-1">
                    <b-form-input
                      id="input-1"
                      v-model="name"
                      type="text"
                      placeholder="Enter email"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                    id="input-group-2"
                    label="Password"
                    label-for="input-2"
                    class="mb-3"
                  >
                    <b-form-input
                      id="input-2"
                      v-model="password"
                      type="password"
                      placeholder="Enter password"
                    ></b-form-input>
                  </b-form-group>

                  <div class="form-group row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                      <b-button type="submit" variant="primary" class="w-md">Log In</b-button>
                    </div>
                  </div>
                </b-form>
              <div class="mt-5 pt-4 text-center">
                  <p>
                    ©
                    {{new Date().getFullYear()}} BS Soft
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import appConfig from "@/app.config";

/**
 * Login component
 */
export default {
  page: {
    title: "Login",
    meta: [{ name: "description", content: appConfig.description }]
  },
  components: {},
  data() {
    return {
      name: "",
      password: "",
      authError: [],
      tryingToLogIn: false,
      isAuthError: false
    };
  },
  methods: {
    // Try to log the user in with the username
    // and password they provided.
    async tryToLogIn() {
      this.tryingToLogIn = true;
      // Reset the authError if it existed.
      this.authError = null;

      try {
        await this.$store.dispatch("logIn", {
          userName: this.name,
          password: this.password
        });
        this.$router.push(this.$route.query.redirectFrom || { name: "home" });
      } catch (err) {
        console.log(err);
      }

      // this.$http
      //   .post("https://localhost:44326/v1.0/Authenticate/token", {
      //     userName: this.name,
      //     password: this.password
      //   })
      //   // eslint-disable-next-line no-unused-vars
      //   .then(response => {
      //     console.log(response);
      //     if (response.status == "200") {
      //       this.tryingToLogIn = false;
      //       this.isAuthError = false;
      //       // Redirect to the originally requested page, or to the home page
      //       context.commit("setUser", {
      //         authToken: response.data.authToken
      //       });
      //       this.$router.push(
      //         this.$route.query.redirectFrom || { name: "home" }
      //       );
      //     } else if (response.status == "422") {
      //       return new Promise(response);
      //     }
      //   })
      //   .then(data => {
      //     data;
      //   })
      //   .catch(error => {
      //     if (error.response.status == "422") {
      //       this.authError = [];
      //       console.log(error.response.data.errors[0].message);
      //       error.response.data.errors.forEach(element => {
      //         this.authError.push({
      //           message: element.message
      //         });
      //       });
      //       // {
      //       //   console.log(err.message);
      //       //   this.authError.push({
      //       //     message : err.message
      //       //   });
      //       // }
      //     } else {
      //       this.authError = "unknwo error accourred";
      //     }
      //     this.tryingToLogIn = false;
      //     this.isAuthError = true;
      //   });
    }
  }
};
</script>



<style lang="scss" module></style>
