﻿
<tr class="MuiTableRow-root css-1q1u3t4-MuiTableRow-root alternate-table-color">
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{DocumentId}</td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{Rev}</td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{Status}</td>
</tr>
