<div class="MuiGrid-root css-vj1n65-MuiGrid-root">
    <div class="MuiGrid-root css-1ph9e37-MuiGrid-root">
        <div class="MuiBox-root css-0">
            <br />
            <p class="MuiTypography-root MuiTypography-body1 css-nlftog-MuiTypography-root" style="text-align:left"><u>Purpose</u></p>
            <div style="text-align:left;">{Purpose}</div>
        </div>
    </div>
    <div class="MuiGrid-root css-1g0cam6-MuiGrid-root">
        <div class="MuiBox-root css-0">
            <br />
            <p class="MuiTypography-root MuiTypography-body1 css-889uc-MuiTypography-root" style="text-align:left"><u>Scope</u></p>
            <div style="text-align:left;">{Scope}</div>
        </div>
    </div>
    <div class="MuiGrid-root css-1g0cam6-MuiGrid-root">
        <div class="MuiBox-root css-0">
            <br />
            <p class="MuiTypography-root MuiTypography-body1 css-889uc-MuiTypography-root" style="text-align:left"><u>Responsibilities</u></p>
            <div style="text-align:left;">{Responsibility}</div>
        </div>
    </div>
    <div class="MuiGrid-root css-1g0cam6-MuiGrid-root">
        <div class="MuiBox-root css-0">
            <br />
            <p class="MuiTypography-root MuiTypography-body1 css-889uc-MuiTypography-root" style="text-align:left"><u>Definitions</u></p>
            <div style="text-align:left;">{Definitions}</div>
        </div>
    </div>
</div>
