﻿
<tr class="MuiTableRow-root css-1q1u3t4-MuiTableRow-root">
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{PartDescription}</td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{PartNumber}</td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{DrawingNumber}</td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{CustomerPartNo}</td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{CurrentRev}</td>
    <td class="MuiTableCell-root MuiTableCell-body MuiTableCell-sizeMedium css-1ex1afd-MuiTableCell-root" style="text-align:left">{NewRev}</td>
</tr>
