<!--<div style="page-break-after:always"></div>-->
<div class="MuiBox-root css-0" style="padding-top:30px;text-align:left;">
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">Purchase Notes: Terms &amp; Conditions:</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">1. Supply goods as per agreed terms and conditions, unless otherwise specified.</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">2. Challan, invoice and any correspondence pertaining to this purchase order must have PO Number and date.</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">3. Test Certificate and other requested documents must be provided along with the goods.</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">4. Excise and Sales Tax Registration numbers must be mentioned on your invoice.</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">Excise Registration No.: AAHCS2396BXM002</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">CST No.: 24580601190</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">TIN No.: 24080601190 w.e.f. dated 19/2/2008</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">GSTIN:24AAHCS2396B1ZI</p>
    <p class="MuiTypography-root MuiTypography-body1 css-xzw2ev-MuiTypography-root">PAN:AAHCS2396B</p>
</div>
<div class="MuiBox-root css-1y3h0mg"></div>
</body>
</html>