<template>
  <div>
    <vertical>
      <slot />
    </vertical>

    <!-- <Horizontal v-if="layoutType === 'horizontal'" :layout="layoutType">
      <slot />
    </Horizontal> -->
  </div>
</template>

<script>
// import { layoutComputed } from "@/state/helpers";

import Vertical from "@/router/layouts/vertical";
// import Horizontal from "@/router/layouts/horizontal";

export default {
  components: { Vertical }
  // computed: {
  //   ...layoutComputed
  // }
};
</script>

