<template>
  <footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          © {{new Date().getFullYear()}} BS Soft
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->
</template>