
<template>
  <!-- start page title -->
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="page-title-box">
        <h4 class="font-size-18">{{ title }}</h4>
        <div class="page-title-right">
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="float-right d-none d-md-block">
          <!-- <button class="btn btn-primary">
            <i class="fas fa-plus-circle mr-2"></i> {{buttonTitle}}
          </button> -->
      </div>
    </div>
  </div>
  <!-- end page title -->
</template>

<script>
/**
 * Page-header component
 */
export default {
  components: {},
  props: {
    title: {
      type: String,
      default: ""
    },
    items: {
      type: Array,
      default: () => {
        return [];
      }
    },
    buttonTitle : {
      type:String,
      default:"Add"
    }
  }
};
</script>
